th[scope="col"] {
    background-color: navy;
    color: white;
}

tr:nth-child(even) {
    background-color: #00b3ff;
}

tr:nth-child(odd) {
    background-color: blue;
}

tr:hover {
    color: red;
}